<div class="vertical-nav" [class.collapsed]="isNavCollapsed">
    <div class="logo">Fleet Manager</div>
    <ul>
        <li><a routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a routerLink="/user-page" routerLinkActive="active"><i class="fas fa-user"></i> User Management</a></li>
        <li><a routerLink="/login-page" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li><a routerLink="/service-page" routerLinkActive="active"><i class="fas fa-tools"></i> Services</a></li>
    </ul>
    <button class="toggle-nav-button" (click)="toggleNav()">☰</button>
</div>