<div class="vertical-nav" [class.collapsed]="isNavCollapsed">
    <div class="logo">
        <i class="fas fa-car"></i>
        <span class="logo-text">Fleet Manager</span>
    </div>
    <ul>
        <li>
            <a routerLink="/home-page" routerLinkActive="active">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/user-page" routerLinkActive="active">
                <i class="fas fa-user"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a routerLink="/add-vehicle" routerLinkActive="active">
                <i class="fas fa-plus-circle"></i>
                <span>Add Vehicle</span>
            </a>
        </li>
        <li>
            <a routerLink="/service-page" routerLinkActive="active">
                <i class="fas fa-tools"></i>
                <span>Services</span>
            </a>
        </li>

        <!-- Conditionally display Login or Logout -->
        <li *ngIf="!isLoggedIn">
            <a routerLink="/login-page" routerLinkActive="active">
              <i class="fas fa-sign-in-alt"></i>
              <span>Login</span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a (click)="logout()" routerLinkActive="active" style="cursor: pointer;">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
          <!-- <div *ngIf="user; else noUser">
            <h1>Welcome, {{ user.username }}</h1>
            <p>Role: {{ user.roles }}</p>
          </div>
          <ng-template #noUser>
            <p>No user is logged in.</p>
          </ng-template> -->
    </ul>
    <button class="toggle-nav-button" (click)="toggleNav()">
        {{ isNavCollapsed ? '>>' : '<<' }}
    </button>
</div>