<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Header and Footer</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="main-container">

     <app-header></app-header>
    <main>
        <router-outlet></router-outlet>
    </main>
    
    <!-- <footer class="footer">
        <p>&copy; 2025 My Website | All rights reserved</p>
        <p>Contact: info-mywebsite.com | Phone: (123) 456-7890</p>
    </footer> -->
    <!-- <script src="assets/public/mainscript.js"></script> -->
</div>
</body>
</html>
