<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Header and Footer</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="main-container">
        
     <!-- <app-header></app-header> -->

     <!-- Conditionally display the navbar -->
        <div *ngIf="shouldShowNavbar()">
             <app-header></app-header>
    </div>

<!-- Main content -->
<router-outlet></router-outlet>

    <main>
        <router-outlet></router-outlet>
    </main>
    
</div>
</body>
</html>
