<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Header and Footer</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <header>
        <div class="logo">Fleet Manager</div>
        <nav id="nav">
            <ul>
                <li><a href="/" class="nav-link active">Dashboard</a></li>
                <li><a href="/user-page" class="nav-link">User Management</a></li>
                <li><a href="/login-page" class="nav-link">Login</a></li>
                <li class="right"><a href="/service-page" class="nav-link">Services</a></li>
                <li class="right"><a href="/contact-page" class="nav-link">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>
    
    <main>
        <router-outlet></router-outlet>
    </main>
    
    <footer class="footer">
        <p>&copy; 2025 My Website | All rights reserved</p>
        <p>Contact: info-mywebsite.com | Phone: (123) 456-7890</p>
    </footer>
    <script src="/public/mainscript.js"></script>
</body>
</html>
