<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management</title>
</head>

<body>
  <div class="container">
    <h2 class="page-title">User Management</h2>
    <form #userForm="ngForm" (ngSubmit)="onCreateUser()" novalidate>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control" name="username" [(ngModel)]="userData.username" required
          placeholder="Enter username" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" name="email" [(ngModel)]="userData.email" required
          placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" name="password" [(ngModel)]="userData.password"
          required placeholder="Enter password" />
      </div>
      <div class="form-group">
        <label for="role">User Role:</label>
        <select id="role" class="form-control" name="role" [(ngModel)]="userData.role" required>
          <option value="" disabled selected>Select a role</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
          <option value="design">Design</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </form>
    <div *ngIf="successMessage" class="small-success-message">
      <p>{{ successMessage }}</p>
    </div>
    <!-- <div class="user-list-container">
      <h3 class="section-title">User List</h3>
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</body>

</html>