/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    line-height: 1.2;
    background-color: #f4f4f4;
    padding: 10px;
  }

/* Main Content Styling */
main {
    max-width: 1200px;
    margin: 20px auto;
}

.service-section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-section {
        margin-left: 10px;
        margin-right: 10px;
    }
}
