html,
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #333;
    line-height: 1.2;
    background-color: #f4f4f4;
    height: 100vh;
    scroll-behavior: smooth;
    padding: 10px;
}


/* body {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    line-height: 1.2;
    background-color: #f4f4f4;
    padding: 10px;
  } */

/* Main Content Styling */
main {
    max-width: 1200px;
    margin: 20px auto;
}

.service-section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-section {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.inventory-container {
    padding: 16px;

    width: calc(100% - 200px); /* Adjust width to account for nav bar */
    max-width: 1200px;
    margin-left: 220px; /* Add margin-left to avoid overlap with fixed navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px;
    gap: 20px;
    transition: margin-left 0.3s ease; /* Smooth transition for margin-left */

  }

  @media (max-width: 768px) {
    .inventory-container {
        width: calc(100% - 80px); /* Adjust width for collapsed nav */
        margin-left: 80px; /* Adjust margin-left for collapsed nav */
    }
}

@media (max-width: 480px) {
    .inventory-container {
        width: 100%;
        margin-left: 0; /* Remove margin-left for full width */
        padding-top: 80px; /* Add padding-top to avoid overlap with nav */
    }
}