<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <div class="login-page">
        <div class="login-container">
            <div class="login-header">

                <h1>Reset Your Password</h1>
            </div>

            <div class="login-form">
                <div *ngIf="successMessage" class="message success">
                    <i class="fas fa-check-circle"></i>
                    <p>{{ successMessage }}</p>
                </div>

                <div *ngIf="errorMessage" class="message error">
                    <i class="fas fa-exclamation-circle"></i>
                    <p>{{ errorMessage }}</p>
                </div>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input id="password" type="password" formControlName="password"
                            placeholder="Enter your new password" aria-describedby="passwordHelp" />
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword" type="password" formControlName="confirmPassword"
                            placeholder="Re-enter your new password" aria-describedby="confirmPasswordHelp" />
                        <small id="confirmPasswordHelp" class="form-text">
                            Ensure it matches the new password.
                        </small>
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"
                            class="error-message">
                            Confirm Password is required.
                        </div>
                    </div>

                    <button type="submit" class="login-button" [disabled]="resetPasswordForm.invalid">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>